@charset "utf-8";

body {
  font-family: "Sawarabi Mincho", serif;
  font-size: 16px;
  color: #121212;
  }


.ffJosefin {
  font-family: "Josefin Sans", sans-serif;
  }

.innerWrap { /* 作業しやすくするために色で強調 */
  border: 4px solid lightblue; 
  width: 1240; /* 幅を指定 */
  margin: 0 auto; /* 中央寄せ */
  padding: 80px 20px 0; /* 上下左右の余白 */
  }

main h2 {
  text-align: center;
  font-size: 60px;
  letter-spacing: .05em;
  margin-bottom: 80px;
  }

header {
  background: url(../images/hero.jpg) no-repeat right center/cover;
}

header .innerWrap {
  height: 720px;
}

header h1 {
  padding-top: 120px; /* 余白を追加 */
}

header .innerWrap {
height: 720px;
position: relative; /* 相対位置は自身の位置を基準 */
}

header .scroll { /* スクロールボタン */
  position: absolute; /* 絶対位置はブラウザの位置を基準 */
  left: 0; /* 左端 */
  bottom: 0; /* 下端 */
  width: 100%; /* 幅を100% */
  text-align: center; /* 中央寄せ */
  font-size: 16px;
  } 
  header .scroll img { /* 画像の余白 */
    margin-top: 8px; /* 画像の上部に余白を追加 */
  }

header nav { /* ナビゲーション */
  position: fixed; /* 固定位置はブラウザの位置を基準 */
  top: 0; /* 上端 */
  left: 0; /* 左端 */
  width: 100%;
  z-index: 100; /* 重なり順を指定.z軸 */
  }

header nav ul {
  display: flex; /* 横並び */
  justify-content: space-around; /* 等間隔 */
  width: 1240px; /* 幅を指定 */
  margin: 0 auto; /* 中央寄せ */
  padding: 10px 20px; /* 上下左右の余白 */
}

.mesSec { /* メッセージ */
  background-color: #fbfaf7;
}
.msgSec p { /* メッセージ */
text-align: center; /* 中央寄せ */
line-height: 1.75; /* 行間を1.75倍に */
margin-bottom: 40px; /* 下部に余白を追加 */
}
.msgSec p.illust { /* イラスト */
  margin-top: 80px; /* 上部に余白を追加 */
  margin-bottom: 0; /* 下部の余白を削除 */
  }

header nav ul li a:hover { /* ホバー時のスタイル */
  text-decoration: underline; /* 下線を追加 */
}

